# Django and REST framework
Django==5.1.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
channels==4.0.0

# Database
mysqlclient==2.2.1

# Image and Video Processing
opencv-python==4.9.0.80
mediapipe==0.10.9
Pillow==10.1.0

# Utilities
python-dotenv==1.0.0
numpy==1.26.3

# File handling
python-magic==0.4.27

# ASGI server
daphne==4.0.0 